:root {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  border: solid black;
  height: 1000px;
  width: 1000px;
}

form {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 200px;
  border: solid black;
}

button {
  background-color: paleturquoise;
}

button:hover {
  cursor: grab;
  background-color: lightblue;
}

.project,
.todo {
  height: 200px;
  width: 200px;
  border: solid black;
}
